.container{
    font-family: "Montserrat",sans-serif;
}


html,*{
    box-sizing: border-box;
}

body h1, h2,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    color: #000;
    text-decoration: none;

}

h1{
    position: absolute;    width: 1px;
    height: 1px;    margin: -1px;
    padding: 0;    overflow: hidden;
    border: 0;    clip: rect(0 0 0 0)
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-item{
    width: 30%;
    margin-bottom: 30px;
}


.text-item{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container{
    padding: 50px;
}


.ar-img{
    width: 100%;
}

h2{
    margin-bottom: 20px;
}